mixin orders(order)
    .bookings 
      ul 
        li=`Order ref: ${order._id}`
        each data in order.hotel_data
          li= `Hotel: ${data.hotel_name}`
          li= `Country: ${data.country}`
          li= `Duration: ${order.order_details.duration}`

